.footer{
    width: 100%;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 575.98px){
    .footer{
        bottom:1px;
        position: relative;
    }
}